{% extends 'main./base.html' %}
{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <b><p class="ms-5 pb-10 fs-1">Главная страница</p></b><br>
    {% if news %}
        {% for el in news %}
        <div class="container alert bg-primary text-white mt-2 rounded">
            <h3 class="fs1">{{ el.title }}</h3>
            <br>
            <p class="fs-5">{{ el.description }}</p>
            <hr>

            {% if comments %}
                {% for i in comments %}
                    <div class="rounded text-black ps-3 pb-1 mb-2 w-25">
                        <h1 class="fs-4">Комментарии</h1>
                        <hr>
                        <p>{{ i.name }}</p>
                        <p>{{ i.description }}</p>
                    </div>
                    <a class="btn btn-primary" href="{% url 'comment' %}" role="button" style="border-color: white;">Добавить комментарий</a>
                    {% endfor %}
            {% else %}
                    <div class="">
                        <p class="fs-4"><b>Комментариев еще нет...</b></p>
<!--                        <button class="bg-info rounded w-25 text-center fs-5 border-primary" style="color: white; height: auto;">-->
<!--                            <a href="{% url 'comment' %}">Добавить</a>-->
<!--                        </button>-->
                        <a class="btn btn-primary" href="{% url 'comment' %}" role="button" style="border-color: white;">Добавить комментарий</a>
                    </div>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        <p class="fs-2 text-center">Пока нет новостей</p>
    {% endif %}
{% endblock %}